@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Russo+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.content-type2 {
    padding: 50px;
}

.center {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.title-1 {
    font-size: 5em
}

.title-2 {
    font-size: 3em;
}

.title-3 {
    font-size: 0.75em;
    margin-bottom: 30px;
}

.title-4 {
    font-size: 0.75em; 
}

@media screen and (max-width: 640px) {
    .title-1 {
        font-size: 4em
    }
    
    .title-2 {
        font-size: 2em;
    }
    
    .title-3 {
        font-size: 0.9em;
        margin-bottom: 30px;
    }
    
    .title-4 {
        font-size: 0.9em; 
    }

    .video {
        width: 400px;
        height: 225px;
    }
}